.appcontainer {
  margin: 0;
  padding: 0;
  text-align: center;
}
.hero {
  position: relative;
}
.icon {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  color: rgb(187, 109, 109);
}
.heroimg {
  position: absolute;
}

.hero-desc {
  position: relative;
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
}
.blogcontainer {
  text-align: center;
  margin: 5rem;
}
.blog-header {
  margin-top: 10px;
  text-align: center;
}
.blog-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.conatctcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 4rem;
}
.contactcard {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contactcard h5 {
  margin: 0;
  padding: 0;
}
